%h3 Dimensions
%ul
  %li Length: 538 cm
  %li Width: 56 cm
  %li Capacity: 60 - 110 kg

%p
  At Think Kayak we always get to work on fun stuff, but this time we’ve super-sized it with the Ace. If three words could sum up this new craft it’s stable, fast, and fun!

%p
  At 56 cm wide the Ace is our most stable ski, but her sleek "swede" form means the Ace has the speed of a performance ski. The 538 cm length is highly maneuverable, great for exploring along the coast line, or linking waves when you find the wind at your back. The gunwale is low beside the seat, making remounts a snap should the need arise, and the integrated carry handle makes off the water handling a breeze. For big fun on the water, the Ace is for you!

%h3 Prices
= render "construction", title: "ace", code: 'S-105F', euros: 2695, type: :performance
= render "construction", title: "ace", code: 'S-105R', euros: 3195, type: :river
= render "construction", title: "ace", code: 'S-105K', euros: 3495, type: :elite
= render "construction", title: "ace", code: 'S-105U', euros: 4295, type: :ultimate
