%p
  At Think Kayak we always get to work on fun stuff, but this time we’ve super-sized it with the Ace. If three words could sum up this new craft it’s stable, fast, and fun! At 56cm wide the Ace is our most stable ski, but her sleek &ldquo;swede&rdquo; form means the Ace has the speed of a performance ski. The 5.38m length is highly maneuverable, great for exploring along the coast line, or linking waves when you find the wind at your back. The gunwale is low beside the seat, making remounts a snap should the need arise, and the integrated carry handle makes off the water handling a breeze. For big fun on the water, the Ace is for you!

%h3 Prices
= render "construction", title: "ace", code: 'S-105F', pounds: "2,100", euros: "2 500", weight: 15.5, type: :performance
= render "construction", title: "ace", code: 'S-105K', pounds: "2,700", euros: "3 350", weight: 12.5, type: :elite
