- pounds = (dollars * 0.82 / 5).round * 5
- euros = (dollars * 0.91 / 5).round * 5
%section.construction{ class: type }
  %h3
    %code= code
  %p.price
    %span &pound;#{number_with_delimiter pounds}
    %span.or or
    %span &euro;#{number_with_delimiter euros}
  %p.name
    %strong= type.to_s.titleize
    Construction
  %p.materials
    - case type
    - when :performance
      (Lantor Core, Fibreglass, Carbon Kevlar)
    - when :river
      (Lantor Core, Carbon Kevlar)
    - when :elite
      (Honeycomb Core, Carbo Kevlar)
    - when :ultimate
      (Honeycomb Core, Carbo Kevlar)
