%section.construction{ class: type }
  %h3
    %code= code
  %p.price
    %span &euro;#{number_with_delimiter euros}
  %p.name
    %strong= type.to_s.titleize
    Construction
  %p.materials
    - case type
    - when :performance
      (Fiberglass, Coremat, Epoxy, Vacuum)
    - when :river
      (Kevlar, Carbon, Coremat, Epoxy, Vacuum)
    - when :elite
      (Kevlar, Carbon, Honeycomb, Epoxy, Vacuum)
    - when :ultimate
      (Carbon, Honeycomb, Epoxy, Vacuum)
