%h3 Dimensions
%ul
  %li Length: 625 cm
  %li Width: 47 cm
  %li Capacity: 60 - 110 kg

%p The Evo has set the bench mark for all-around performance for more than a decade. Competitively fast, intermediate stability, and great comfort make the Evo the best choice for enthusiast racers and fitness paddlers alike.

%p Now in its third generation, the Evo has just the right amount of rocker to surf like a champ as well as great speed on the flats. The intermediate width of 47 cm gives that extra bit of stability to help out when conditions get difficult, but the narrow profile at the catch allows for a very efficient stroke. The seat retains its ideal ergonomics, but now has a lower hump to allow for improved leg drive and rotation.

%p Any waves that find their way into the footwell are quickly dealt with using the DeBrito bailer. When you’re looking for a competitive ski, but don’t want to deal with the demands of an elite ski, then the Evo is your answer!

%h3 Prices
= render "construction", title: "evo", code: 'S-101F', euros: 2695, type: :performance
= render "construction", title: "evo", code: 'S-101R', euros: 3195, type: :river
= render "construction", title: "evo", code: 'S-101K', euros: 3495, type: :elite
= render "construction", title: "evo", code: 'S-101U', euros: 4295, type: :ultimate
