%h3 Dimensions
%ul
  %li Length: 625 cm
  %li Width: 47 cm
  %li Capacity: 60 - 110 kg

%p
  The Think Evo<sup>II</sup> offers ultimate balance of speed and comfort. At 625 cm in length, with fine entry and exit lines, and 47 cm of width, the Evo<sup>II</sup> has all the speed you need to be in the thick of the competition. Glide is excellent, and when the swell is up, linking runs has rarely been so much fun!

%p
  We believe the most important aspect of any boat is to allow paddlers to paddle their best. In other words, to be the best engine they can be. That means providing a level of stability that creates a platform for power, even when the going gets rough! In this regard the Evo<sup>II</sup> stands clearly apart from its competitors, offering an unsurpassed level of stability for a boat this quick.

%p
  The Evo<sup>II</sup> has an amazingly comfortable seat and foot well for all day comfort during long training sessions or races. The foot board system has a micro adjust system, so getting the perfect fit is easy. Every detail is well thought out, with a separate reinforced leash attachment point when heading out on big days. Hardware is 304 grade stainless for long term durability, and our rudder lines use 600 pound test Q-PowerLine Spectra.

%h3 Prices
= render "construction", title: "evo<sup>II</sup>", code: 'S-101F', euros: 2695, type: :performance
= render "construction", title: "evo<sup>II</sup>", code: 'S-101R', euros: 3195, type: :river
= render "construction", title: "evo<sup>II</sup>", code: 'S-101K', euros: 3495, type: :elite
= render "construction", title: "evo<sup>II</sup>", code: 'S-101U', euros: 4295, type: :ultimate
