%p
  The Think Eze is the ideal boat for a lot of people. It’s fast, fun, and sporty, with the soul of a racer, yet it’s 5.2m length make it maneuverable, stable, and forgiving. The Eze’s hull shape creates a strong platform for new paddlers to develop their technique with confidence. The ergonomics are excellent, and seat comfort outstanding. Experienced paddlers will love the quickness and maneuverability of the Eze, and be blown away by how easy and fun it is to surf. A boat that puts a smile on every face!

%h3 Prices
= render "construction", title: "eze", code: 'S-102F', pounds: "2,100", euros: "2 500", weight: 15.5, type: :performance
= render "construction", title: "eze", code: 'S-102K', pounds: "2,700", euros: "3 350", weight: 12.5, type: :elite
