%h3 Dimensions
%ul
  %li Length: 642 cm
  %li Width: 44.5 cm
  %li Capacity: 70 - 115 kg

%p
  Get your positive charge on with the new Think Ion! At 642 x 44.5 cm she clearly belongs in the advanced boat camp, but the Ion puts a new spin on things. Chief in the design criteria were speed, stability, and big water performance, all perfectly integrated in this podium-worthy craft.
%p
  The Ion's high-rocker design pays back with a remarkably smooth upwind ride and razor sharp downwind performance. That little bit of extra width gives the Ion ample secondary stability, critical when you need to apply full power for full speed ahead!
%p
  The width also allows just enough room to fit the very comfortable, and ergonomically correct Evo<sup>II</sup> bucket, essential in getting the most out of you!  If you're looking for a race-winning ski, and love those windy days best, the Ion is made of the right stuff for you!

%h3 Prices
= render "construction", title: "ion", code: 'S-106F', dollars: 2795, type: :performance
= render "construction", title: "ion", code: 'S-106R', dollars: 3195, type: :river
= render "construction", title: "ion", code: 'S-106K', dollars: 3495, type: :elite
= render "construction", title: "ion", code: 'S-106U', dollars: 4395, type: :ultimate
