%h3 Dimensions
%ul
  %li Length: 642 cm
  %li Width: 44.5 cm
  %li Capacity: 70 - 115 kg

%p The 2017 Think Ion is back as the high performance all-star! With a new rocker profile, new seat and footwell, and new low profile deck, the ion is tuned to offer great speed, handling, and efficiency.

%p Whether in a howling downwind or on the mirror flats, the Ion is a true all-conditions advanced paddler’s ski.

%p One of the very important aspects retained in this forward design is the increased stability compared to an elite ski. This increase in stability allows the paddler to apply full power, even when conditions get testing.

%p The updated seat and footwell accommodate a greater range of athlete sizes, both tall and small. The seat hump is lower improving leg drive and rotation. The lower deck lines offer less windage and reduced weight. A DeBrito bailer takes care of any water in the footwell.

%h3 Prices
= render "construction", title: "ion", code: 'S-106F', euros: 2695, type: :performance
= render "construction", title: "ion", code: 'S-106R', euros: 3195, type: :river
= render "construction", title: "ion", code: 'S-106K', euros: 3495, type: :elite
= render "construction", title: "ion", code: 'S-106U', euros: 4295, type: :ultimate
