%h3 Dimensions
%ul
  %li Length: 645 cm
  %li Width: 43 cm
  %li Capacity: 65 - 105 kg

%p Since its introduction in 2011, the Uno Max has been the boat to beat. In the five years since that first win at the Dubai Shamaal, the Uno Max has been owning the podium at events on all continents. The Euro Challenge, US Surfski Champs, Cape Point Challenge, Australian Ocean Racing Series, and World Championships are just a few of the titles she’s claimed.

%p Fast Forward to 2016; introducing the new Uno Max! Faster, improved comfort, increased stability, the 2016 Uno Max is a step forward on a proven, race-winning platform. The rocker line has 12mm added to improve glide and maneuverability in the runs, making it easier to keep the speed up and the waves linked. Seat ergonomics, already the best in class, have been engineered with more room for improved rotation and increased leg drive. The chine lines along the hull are spaced 8 mm wider, increasing stability. More stability leads to better application of power.  Small changes that add up to a significant step forward in performance.

%p The new Uno Max has already taken the win at the 2016 Euro Challenge, the 2016 All Wave Cup, and a podium finish at the legendary 2016 Molokai Challenge. There is simply no better all-conditions race winning craft for the elite paddler.

%h3 Prices
= render "construction", title: "uno max", code: 'S-104F', euros: 2695, type: :performance
= render "construction", title: "uno max", code: 'S-104R', euros: 3195, type: :river
= render "construction", title: "uno max", code: 'S-104K', euros: 3495, type: :elite
= render "construction", title: "uno max", code: 'S-104U', euros: 4295, type: :ultimate
