%p
  The Uno Max, winner of the Euro Challenge, Byron Bay Ocean Paddle, the Dubai Shamaal, the Mayor’s Cup, Cape Point Challenge, the US Surfski Champs, the Australian Ocean Racing Series, and the 2013 ICF World Championships. Simply put, there is no boat more capable of winning a race on any given day no matter what conditions are presented.  The Uno Max is the worlds fastest surfski! The Uno Max features all of the Think standards. Dedicated leash attachment point, pluggable footwell bailer, Q-Powerline Spectra rudder line, 304 stainless hardware, security handles, and 10cm inspection port. Rudder options include 12.5cm flatwater, 19cm weedless, 23cm surf (standard), and 25.5cm surf extreme.

%h3 Prices
= render "construction", title: "uno max", code: 'S-104F', pounds: "2,100", euros: "2 500", weight: 15.5, type: :performance
= render "construction", title: "uno max", code: 'S-104K', pounds: "2,700", euros: "3 350", weight: 12.5, type: :elite
= render "construction", title: "uno max", code: 'S-104U', pounds: "3,200", euros: "4 200", weight: 11.5, type: :ultimate
