%h3 Dimensions
%ul
  %li Length: 645 cm
  %li Width: 43 cm
  %li Capacity: 50 - 90 kg

%p The Uno is the elite ski for the taller or smaller paddler that does not need the volume of the Uno Max. The new Uno is designed with lighter paddlers in mind, and has been put through it’s paces by World Champion Teneale Hatton, and U23 World Champ, Mackenzie Hynard.

%p If you want the absolute fastest ocean ski and you’re a light paddler you’ve found your match. The lower leg hump improves leg drive for shorter legged paddlers, and the reduced deck height greatly reduces windage. If you’re a bit heavier, but paddle primarily in flat to small conditions, the Uno remains an excellent choice.

%p The new Uno Max has already taken the win at the 2016 Euro Challenge, the 2016 All Wave Cup, and a podium finish at the legendary 2016 Molokai Challenge. There is simply no better all-conditions race winning craft for the elite paddler.

%h3 Prices
= render "construction", title: "uno max", code: 'S-104F', euros: 2695, type: :performance
= render "construction", title: "uno max", code: 'S-104R', euros: 3195, type: :river
= render "construction", title: "uno max", code: 'S-104K', euros: 3495, type: :elite
= render "construction", title: "uno max", code: 'S-104U', euros: 4295, type: :ultimate
