@import 'includes';

section.construction {
  background: #f9f9f9;
  border: 2px solid #eee;
  border-radius: 10px;
  float: left;
  margin: 0 20px 20px 0;
  padding: 20px;
  position: relative;
  width: 400px;
  h3 {
    margin: 0 0 36px 0;
    code {
      background: none;
      border: none;
      color: black;
    }
  }
  p {
    margin: 0;
  }
  p.price {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 22px;
    span {
      display: block;
      &.or {
        display: none;
        font-size: 16px;
        font-weight: 300;
      }
    }
  }
  p.materials {
    font-weight: 300;
  }

  &.performance {
    border-color: #F2741E;
  }
  &.river {
    border-color: #71A44B;
  }
  &.elite {
    border-color: #E7E100;
  }
  &.ultimate {
    border-color: #000000;
  }

  @media(max-width: $screen-sm-max) {
    background: none;
    border: none;
    float: none;
    width: auto;
    h3 {
      margin: 0 0 10px 0;
    }
    p.price {
      position: static;
      span {
        display: inline;
        &.or {
          display: inline;
        }
      }
    }
  }

}
